@model IEnumerable<CarbonPlatformExercise.Data.Book>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Carbon Books</h1>
    <div class="table-responsive">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>S/N</th>
                    <th>Text</th>
                    <th>Expiry</th>
                    <th>Url</th>
                </tr>
            </thead>
            <tbody>
                @{ 
                    var sn = 1;
                }
                @foreach (var item in Model)
                {
                <tr>
                    <th>@sn</th>
                    <th>@item.Text</th>
                    <th>@item.Expiry</th>
                    <th><a href="@item.Url">@item.Url</a></th>
                </tr>
                    sn++;
                }
                
            </tbody>
        </table>
    </div>
   
</div>
